body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow-y: hidden;
}

.game {
  text-align: center;
  width: 1010px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#canvas {
  border: 5px solid #636e77;
}

.multipliers-standard {
  width: 1010px;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.multipliers-beast {
  width: 1010px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.multiplier-btn {
  padding: 20px;
  width: 150px;
  border: 1px solid #333333;
  color: #333333;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
}

.multiplier-btn:hover {
  color: white;
  background-color: #333333;
}

.multiplier-btn-beast {
  padding: 20px;
  border: 1px solid #333333;
  color: #333333;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
}

.multiplier-btn-beast:hover {
  color: white;
  background-color: #ca2c2c;
  border: 1px solid black;
}

.high-scores {
  background-color: white;
  margin-top: 20px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 50% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}