#title {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin: 0 auto;

}

h1 {
  font-family: 'Saira Semi Condensed';
  font-size: 100px;
  text-align: center;
  margin-bottom: -120px;
  margin-top: -30px;
  margin-right: -72px;
  letter-spacing: 65px;
}

#bing {
  margin-left: 50px;
}

#bong {
  margin-right: -45px;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow-y: hidden;
}

#rules-and-canvas {
  width: 1500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.game {
  text-align: center;
  width: 1010px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  height: 610px;
  width: 210px;
  background: black;
  color: rgba(204, 204, 204, 0.8);
  text-align: left;
  padding: 10px;
  padding-top: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: 'Saira Semi Condensed';
  border: 5px solid #636e77;
}

article {
  height: 210px;
  width: 210px;
  background: black;
  color: rgba(204, 204, 204, 0.8);
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: 'Saira Semi Condensed';
  border: 5px solid #636e77;
}

section span {
  text-align: center;
  font-size: 24px;
}

article span {
  text-align: center;
  font-size: 18px;
}

p {
  text-align: center;
  font-size: 15px;
  margin-top: 35px;
}

#canvas {
  border: 5px solid #636e77;
  margin-right: 20px;
  margin-left: 20px;
}

#diagram {
  border: 5px solid #636e77;
}

#bottom {
  display: flex;
  width: 1490px;
  justify-content: space-between;
}

#links,
#scoreboard {
  margin-top: 15px;
  text-align: left;
}

#high-scores {
  margin-top: 0;
  margin-left: -15px;
}

.multipliers {
  width: 1010px;
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.multiplier-btn {
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 150px;
  border: 5px solid #4cedff;
  color: #333333;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
}

.multiplier-btn-active {
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 150px;
  border: 5px solid white;
  color: #333333;
  background-color: #f7f;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
}

.multiplier-btn:focus {
  outline: 0;
}

.multiplier-btn-active:focus {
  outline: 0;
}

/* .multiplier-btn-beast {
  padding: 20px;
  width: 150px;
  border: 1px solid #333333;
  color: #333333;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
}

.multiplier-btn-beast:hover {
  color: white;
  background-color: #ca2c2c;
  border: 1px solid black;
} */

.start-btn {
  padding: 25px;
  width: 450px;
  margin-top: 15px;
  border: 5px solid white;
  color: #333333;
  background-color: #4cedff;
  border-radius: 15px;
  cursor: pointer;
  font-size: 24px;
}

/* .high-scores {
  background-color: white;
  margin-top: 20px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
} */